:root {
    --layout-container-padding-top: 0px !important;
    --layout-container-padding-right: 0px !important;
    --layout-container-padding-bottom: 0px !important;
    --layout-container-padding-left: 0px !important;
}